ul {
    list-style-type: none;
    text-align: end;
    font-size: 200%;
    position: absolute;
    top: 0;
    right: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

i {
    padding-right: 5px;
}

body {
    background-color: transparent;
}