body {
    font-family: monospace, sans-serif;
}

.sidebar.close {
    padding-left: 5px;
    padding-right: 5px;
    width: 58px;
}

.sidebar.close .logo {
    display: none;
}

.sidebar.close .heading {
    justify-content: center;
}