body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

body {
    font-family: 'Inter', sans-serif; /* Set Inter font */
    background-color: black;
}

#canvas {
    display: block;
    position: fixed; /* Cover the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind other elements */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute; /* Center the container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Above the canvas */
}

#title {
    color: white;
    font-size: 5vh;
    margin-bottom: 20px;
}

#searchArea {
    display: flex;
}

#uv-address {
    width: 300px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    outline: none;
    background-color: white;
    font-size: 16px;
    border-radius: 5px;
}

#searchButton {
    margin-left: 10px;
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    background-color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.iframeWindow {
    width: 100vw;
    height: 100vh;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    display: none; /* Initially hidden */
    z-index: 2; /* Above the canvas */
}

h1, input, button {
    font-family: 'Inter', sans-serif;
}
